@charset "utf-8";

/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1250px) {
#header { padding:13px 25px; }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
.full-height .col-lg-8 .info-box-content .parent, .col-lg-12.full-height .info-box-content .parent, .slider .parent { padding:45px 90px; }	
}


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 992px) {
.col-lg-12 .client {width:33.33333%; padding:20px 0; }
	
.hide-at-sm { display:none }
.show-at-sm { display:block; padding-bottom:20px;}

.tab-content .add-padding { padding-left:15px; padding-right:15px; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 767px) {
.containing-image-wrapper { position:relative; height:370px; }

.col-lg-3 .client { padding-top:20px; }
}
 
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 480px) {
footer p { float:none !important; text-align:center }
h1 { font-size:40px; line-height:1.2; letter-spacing:-2px; }
h2 { font-size:32px; line-height:1.2; letter-spacing:-1px; }
.blog h3 { font-size:22px; line-height:1.3; letter-spacing:0; }
blockquote p { font-size:20px; }
	
.container.header-wrapper { padding-bottom:55px; padding-top:40px; }
.container.no-header { padding-top:50px; padding-bottom:50px; }
.container.with-header { padding-top:0px; padding-bottom:50px; }

.full-height #Container .col-lg-8, div.full-height  { height:calc(100vh - 100px) !important; }
.full-height #Container .col-lg-4  { height:calc(100vh)  !important; }
div.full-height.not-completely-full { height:calc(100vh - 100px)  !important; }	
.info-box-content .parent, .full-height .col-lg-8 .info-box-content .parent, .col-lg-12.full-height .info-box-content .parent, .slider .parent { padding:30px !important; margin-top: 20%; }
.bg-white, .bg-grey { padding:25px 30px 30px; }
.col-lg-4.bg-white, .col-lg-4.bg-grey { padding:30px; }
.add-padding { padding:0 15px; }

.col-lg-12 .client {width:50%; }

.comment { padding:30px 0 25px }
.commenter-avatar { padding: 0; margin: 0 auto; width: 150px; display:inline-block; float:none }
.comment-content { padding-top:20px; display:block; width:100%; max-width:100%; }
.comment.reply.level-1 { padding-left:0 }
.comment-form-wrapper { padding-top:29px; }
.comment-form-icon-wrapper { position: relative; top: 0; left: 0; text-align:center; margin:0 auto; margin-bottom:30px; }
.comment-form-icon-wrapper:before { display: inline-block; }
.comment-form { padding: 0; }
input, textarea { width: 100% !important; }
	
.left-to-avatar { padding-left:0px; }
.avatar { float:none; margin-right:0px; margin-bottom:20px; display:inline-block }
	
#footer { position:relative; }
#wrap { margin-bottom:0 !important; }
	
ul.filter-list { margin:0; border-radius:0; border:0; }
ul.filter-list li { float:none; margin:0; padding:3px; }
	
.bottom { vertical-align:middle; display:table-cell; }
.team-member .bottom { vertical-align:middle; }

.button { margin-top:15px !important; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border:0; }
}


/* Safari 6.1+ (9.0 is the latest version of Safari at this time) */

@media screen and (min-color-index:0) 
and(-webkit-min-device-pixel-ratio:0) { @media
{
    .button {  padding:11px 25px 0px; }
}}